<%- include('components/header') -%>


<div class="container">
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1) %></td>
                            <td><%= data[i].NAME %></td>
                            <td><%= data[i].ADDRESS %></td>
                            <td><%= data[i].PHONE %></td>
                            <td>
                                <a href="/delete/<%= data[i].ID %>" class="btn btn-danger">Delete</a>
                                <a href="/update/<%= data[i].ID %>" class="btn btn-info">Update</a>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
    <div class="col">
        <div class="card">
            <h1 class="ml-2">
                Customers
              </h1>
            <div class="card-body">
                <form  class="saveform">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Name" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" name="address" placeholder="Address" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" placeholder="Phone" class="form-control" >
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Save Customer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<%-include('components/footer.ejs') %>